/* Login Form Styles */
.login-form {
    width: 40%;
    height: 70vh;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 15vh;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
  
  .login-form h2 {
    text-align: center;
    margin-bottom: 0;
    font-size: 1.4rem; /* Increased font size for a bolder look */
    font-weight: bold; /* Matches existing header weight */
    color: #222; /* Darker text color for login form */
  }
  
  .form-group {
    height: 30vh;
    margin-bottom: 20px;
    background-color: #fff;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .form-group {
    height: 30vh;
    margin-bottom: 20px;
    background-color: #fff;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .input-field {
    width: 70%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
  }
  
  .login-button {
    padding: 10px 20px;
    background-color: #007bff; /* Matches existing button color */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #0056b3; /* Matches existing button hover color */
  }
  
  .signup {
    padding: 12px;
    background-color: #444; /* Darker background color for signup button */
    color: #fff; /* Lighter text color for signup button */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .signup:hover {
    background-color: #333; /* Darker hover color for signup button */
  }
  
  /* Error Message Style */
  .dataError {
    color: red; /* Red color for error message */
    font-weight: bold; /* Bold weight for error message */
    margin-bottom: 10px; /* Add some space below the error message */
  }
  