
.login-form {
    width: 30%; /* Reduced width for smaller panel */
    height: 50vh; /* Reduced height for smaller panel */
    margin: 0 auto; /* Maintains centering */
    padding: 20px;
    /* Inherit background color from parent element */
    background-color: #333;
    display: flex; /* Assuming flexbox for centering */
    justify-content: center; /* Center elements horizontally */
    flex-direction: column;
    align-items: center; /* Center elements horizontally */
    border: 1px solid #ccc; /* Lighter border color */
    border-radius: 5px;
  }
  
  .login-form h2 {
    text-align: center; /* Center text horizontally */
    margin-bottom: 0;
    font-size: 1.4rem; /* Increased font size for a bolder look */
    font-weight: bold; /* Matches existing header weight */
    color: #ddd; /* Darker text color */
  }
  
  .form-group {
    height: auto; /* Adjust based on content */
    margin: 20px 0 15px 0; /* Add top margin */
    background-color: transparent; /* Transparent background */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align labels to the left */
    width: 100%; /* Full width for inputs */
}
  
  .form-group label {
    /* Reuses existing label styles */
    margin-bottom: 5px; /* Add some space below labels */
    color: #ddd; /* New color for labels */
  }
  
  .username-field { /* New class for username input */
    width: 100%; /* Full width */
    padding: 10px;
    border: 1px solid #ccc; /* Lighter border color */
    border-radius: 5px;
    font-size: 16px;
  }
  
  .password-field { /* New class for password input */
    width: 100%; /* Full width */
    padding: 10px;
    border: 1px solid #ccc; /* Lighter border color */
    border-radius: 5px;
    font-size: 16px;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    background-color: transparent; /* Transparent background */
    width: 100%; /* Full width */
    flex-grow: 1;
  }
  
  .login-button {
    padding: 10px 20px;
    background-color: #ddd; /* Matches existing button color */
    color: #ccc;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #0056b3; /* Matches existing button hover color */
  }
  
  .signup {
    padding: 12px;
    background-color: #444; /* Darker background color for signup button */
    color: #fff; /* Lighter text color for signup button */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .signup:hover {
    background-color: #333; /* Darker hover color for signup button */
  }
  
  /* Error Message Style */
  .dataError {
    color: red; /* Red color for error message */
    font-weight: bold; /* Bold weight for error message */
    margin-bottom: 10px; /* Add some space below the error message */
  }