/* TextEditor.css */

body {
    background-color: #ddd;
  }
  

  
  #editor-container
   {
    align-items: left;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: -20px 20px 10px #0000001a;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    margin: 20px 0;
    padding: 50%;
    max-width: 10px;
    background: #333;
}
.home .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: #333; /* Darker header background */
}

.home .header p {
  margin: 0;
  font-size: 1.4rem; /* Larger font size for username */
  font-weight: bold;
  text-align: center; /* Center align the text */
}

.home .header-options {
  display: flex;
  align-items: center;
}
  .save-button, .send-button {
    padding: 20px 40px;
    background-color: #ddd;
    color: #333;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .save-button:hover, .send-button:hover {
    background-color: #dddddd76;
  }
  
  @media (min-width: 768px) {
    #editor-container {
      width: 80%;
    }
  }