/* TextEditor.css */

body {
    background-color: #ddd;
  }
  
  h1 {
    text-align: center;
    color: #ddd;
    font-size: 2em;
    font-weight: bold;
    padding: 20px;
    background-color: #333;
  }
  
  #editor-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 120px;
    background-color: #333;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 75px;
    margin: 20px 0;
    box-shadow: -20px 20px 10px #0000001a;
  }
  .button-container {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
  }
  
  .save-button, .send-button {
    padding: 20px 40px;
    background-color: #ddd;
    color: #333;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .save-button:hover, .send-button:hover {
    background-color: #0056b3;
  }
  
  @media (min-width: 768px) {
    #editor-container {
      width: 80%;
    }
  }