.header {
    height: 10vh;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    position: sticky;
    top: 0;
}

.header-options {
    width: 35vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    padding-right: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
    align-items: center;
}

.header p {
    font-size: 28px;
    margin-top: 0vh
}

.header-options select {
    width: 13vw;
    height: 7vh;
    font-size: 18px;
    margin: 0;
}

.header-options button {
    width: 10vh;
    height: 10vh;
    font-size: 34px;
    margin: 0vw 0vw 0vw 0vw;
    border-radius: 100px;
}