.center-page {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex; /* Make the body a flex container */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
  }
.signup-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%; /* Full width on all devices */
    max-width: 400px; /* Remove maximum width */
    height: auto; /* Adjust based on content */
    padding: 120px; /* Increase padding */
    background-color: #333;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px 0; /* Add some vertical margin */
}

.signup-form h2 {
    text-align: center;
    margin-bottom: 0;
    font-size: 1.4rem;
    font-weight: bold;
    color: #ddd;
}

.form-group {
    height: auto;
    margin-bottom: 15px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.form-group label {
    margin-bottom: 5px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    width: 100%;
    flex-grow: 1;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #ddd;
    color: #333;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: rgba(71, 71, 71, 0.8)
}

.login {
    padding: 12px;
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login:hover {
    background-color: #333;
}

.dataError {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}